@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 3
   Case Problem 1
   
   Layout styles for Slate and Pencil Tutoring
   Author: Mackenzie Baker  
   Date:   10.24.2018
   
   Filename: sp_layout.css

*/

/* Window and Body Styles */
/* Sets the width of the html to 100%. */
html {
    height: 100%;
}

/* Sets body margis to auto and requires page height to be 100%. */
body {
    width: 95%;
    max-width: 960px;
    min-width: 640px;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
}

/* Creates a box size for each a, header, li, nav, and ul tag. */
a, header, li, nav, ul {
    box-sizing: border-box;
}

/* Row Styles */
/* Container collapse rule. Fills empty space. */
.row::after {
    clear: both;
    content: '';
    display: table;
}

/* Page Header Styles */
/* Floats header image left and sets a width of 70% of the body. */
body>header>img {
    display: block;
    width: 70%;
    float: left;
}

/* Creates 2% padding on headers nav while floating it left with a width of 30% of the header. */
header nav {
    float: left;
    padding-left: 2%;
    padding-right: 2%;
    width: 30%;
}

/* Sets a tags to be cover 100% of the header. */
header nav a {
    display: block;
    width: 100%;
}

/* Horizontal Navigation List Styles */
/* Sets horizontal list to float left with a width of 12.5% of the body. */
.horizontal li {
    display: block;
    width: 12.5%;
    float: left;
}

/* Topics Styles */
/* Sets margins to 2 diffeent values while floating the topics li left with a width of 20% of the ul. */
ul#topics li {
    display: block;
    width: 20%;
    float: left;
    margin-left: 0%;
    margin-right: 1.5%
}

/* Sets only the first list of this types' left margin to a value of 7.75%. */
#topics li:first-of-type {
    margin-left: 7.75%;
}

/* Sets only the last list of this types' right margin to the value of 7.75%. */
#topics li:last-of-type {
    margin-right: 7.75%;
}

/* Sets image to auto margins with a width of 50%. */
ul#topics img {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

/* HR Styles */
/* Set to a width of 50%. */
hr {
    width: 50%; 
}

/* Customer Comment Styles */
/* Sets margins and asignsa a width of 75%. */
ul#comments {
    width: 75%;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
}

/* Sets margin botom width a width of 50% while floating the comments li to the left. */
#comments li {
    display: block;
    width: 50%;
    float: left;
    margin-bottom: 30px;
}

/* Floats image to the left while setting margin values with a width of 20%. */
#comments li img {
    display: block;
    width: 20%;
    float: left;
    margin-left: 5%;
    margin-right: 5%;
}

/* Footer Styles */
/* Container collapse rule. Fills empty space. */
#comments::after {
    clear: both;
    content: '';
    display: table;
}
